<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>Add new BlogPost</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.details.label }}<br>
            {{ form.details(size=32) }}
        </p>
        <p>
            {{ form.category.label }}<br>
            {{ form.category(size=32) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
</head>
<body>

</body>
</html>
